polaki/template/transactions/add_transactions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Transaction</title>
</head>
<body>
    <h2>Add Transaction</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form><br>

    <a href="{% url 'transaction_list' %}">View Transactions</a><br><br>
    <a href="{% url 'wallet_dashboard' %}">Go to Wallet Dahshoard</a><br><br>
    <button>
    <a href="{% url 'logout' %}">Logout</a>
    </button>




</body>
</html>
