polaki/tempate asli/
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction List</title>
</head>
<body>
    <h2>Your Transactions</h2>
    <ul>
        {% for transaction in transactions %}
            <li>
                {{ transaction.transaction_type }} - {{ transaction.amount }} - {{ transaction.category.name }} - {{ transaction.date }}
            </li>
        {% empty %}
            <li>You have no transactions yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_transaction' %}">add tranaction</a>
</body>
</html>