polaki/tempate asli/
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction List</title>
</head>
<body>
    <h1>لیست تراکنش ها</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Transaction type</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.jalali_date }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.description }}</td>
                <td>
                    {{ transaction.display_amount }}
                    <td>{% if transaction.amount < 0 %}
                        (برداشت)
                    {% else %}
                        (واریز)
                    {% endif %}
                    </td>
                <td>
                    <a href="{% url 'update_transaction' transaction.id %}">Edit</a> |
                    <a href="{% url 'delete_transaction' transaction.id %}">Delete</a>

                </td>
                
            </tr>
        {% endfor %}
        </tbody>
        </table>
    <a href="{% url 'add_transaction' %}">add tranaction</a><br><br>
    <a href="{% url 'wallet_dashboard' %}">Go to Wallet Dahshoard</a><br><br>
    <!-- <button>
        <a href="{% url 'logout' %}">Logout</a>
        </button> -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
   
    
    

</body>
</html>